<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="${user.firstName}">VALUE</p>
<p th:text="${user.lastName}">VALUE</p>
<p th:text="${user.id}">VALUE</p>
<br/>
<form th:method="POST" th:action="@{/users/delete}">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="submit" value="Delete"/>
</form>
<br/>
<form th:method="GET" th:action="@{/edit}">
    <input type="hidden" name="id" th:value="${user.id}">
    <input type="submit" value="Update"/>
</form>
<br/>
<form th:action="@{/users}">
    <input type="submit" value="Back"/>
</form>
</body>
</html>